--exclude Pods

--indent 4
--lineaftermarks false
--swiftversion 5

--enable \
	andOperator, \
	anyObjectProtocol, \
	assertionFailures, \
	blankLineAfterImports, \
	blankLinesAroundMark, \
	blankLinesAtEndOfScope, \
	blankLinesAtStartOfScope, \
	blankLinesBetweenImports, \
	blankLinesBetweenScopes, \
	braces, \
	consecutiveBlankLines, \
	docComments, \
	duplicateImports, \
	elseOnSameLine, \
	emptyBraces, \
	extensionAccessControl

--disable \
	redundantSelf, \
	conditionalAssignment, \
	consecutiveSpaces, \
	preferKeyPath
